body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1vh 5vw;

  background-color: #111215;
  font-family: "Poppins", sans-serif;
  color: white;
}

canvas {
  display: block;
  transition: 1s transform linear;
}

canvas:hover {
  transform: scale(1.2);
  transition: 5s transform linear;
}

#imageContainer {
  position: relative;
  width: 850px;
  height: 290px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 100%;
}

#imageContainer>* {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}